/* You can add global styles to this file, and also import other style files */
/* TODO: use angular's palette thing */
:root {
  --body-font: "Roboto", sans-serif;
  --header-font: "Roboto", sans-serif;

  /* Rose Pine Dawn Color Palette */
  --clr-base: oklch(96.99% 0.0113 71.9);
  --clr-surface: oklch(98.7% 0.0107 76.6);
  --clr-overlay: oklch(93.89% 0.0145 64.34);
  --clr-muted: oklch(67.34% 0.0268 298.37);
  --clr-subtle: oklch(57.68% 0.0458 291);
  --clr-text: oklch(45.97% 0.0629 289.56);
  --clr-love: oklch(59.89% 0.1071 2.66);
  --clr-gold: oklch(75.55% 0.1459 69.74);
  --clr-rose: oklch(69.57% 0.1058 23.03);
  --clr-pine: oklch(49.09% 0.077 228);
  --clr-foam: oklch(62.89% 0.0661 210.12);
  --clr-iris: oklch(61.71% 0.0738 305.7);
  --clr-hl-low: oklch(95.02% 0.0101 58.21);
  --clr-hl-med: oklch(89.2% 0.0057 31.06);
  --clr-hl-high: oklch(84.31% 0.006 334);
}

/* Dark Mode pallete */
:root .darkMode {
  /* Rose Pine Color Palette */
  --clr-base: oklch(21.34% 0.0255 291.13);
  --clr-surface: oklch(24.13% 0.0322 289.14);
  --clr-overlay: oklch(27.08% 0.0423 289.23);
  --clr-muted: oklch(53.83% 0.0435 291.41);
  --clr-subtle: oklch(65.39% 0.0444 291.23);
  --clr-text: oklch(90.88% 0.0299 289.97);
  --clr-love: oklch(69.77% 0.1565 4.22);
  --clr-gold: oklch(84.29% 0.11 74.6);
  --clr-rose: oklch(83.63% 0.0544 21.14);
  --clr-pine: oklch(52.77% 0.0793 227.72);
  --clr-foam: oklch(82.19% 0.0543 209.56);
  --clr-iris: oklch(77.6% 0.0945 304.99);
  --clr-hl-low: oklch(25.12% 0.0263 287.62);
  --clr-hl-med: oklch(37.17% 0.0358 291.1);
  --clr-hl-high: oklch(43.99% 0.0392 290.42);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: var(--clr-surface);
}
body {
  font-family: var(--body-font);
}
